#ludo{
    margin-left: 39%;
    th,tr,td{
        width: 30px;
        height: 30px;
    border: 2px solid black;
}
}
#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}
h5{
    text-align: center;

}