body{
    background-color: rgb(76,152,202);
    margin-left: 50px;
    background-image: url(../images/pngtree-close-up-of-merino-wool-yarn-a-seamless-blue-knitted-pattern-image_13923503.png);
    background-repeat: no-repeat;
    background-size: 110%;
    /*neznam kako da go napravam da opfaja celata slika ako se smali browzerot*/
}
mark{
    background-color: rgba(137, 43, 226, 0.356);
    color: orange;
}
#aboutme1{
    background-color: rgba(137, 43, 226, 0.356);
    color: orange;
    padding: 15px;
    width: 400px;
    height:auto;
    border: 2px orangered solid;
    border-radius: 8px;
} 
h5{
    text-align: center;
}
